In [58]:
import json
import numpy
import pandas as pd
import io

In [106]:
df = pd.read_json('../available_data/manipulated_files/2023-06-22_05-38-12/answers.json', lines=True)

In [43]:
df.answers[3] = [{'documents': 'Няма',
  'registration_date': '14.01.2022 08:38',
  'registration_number': 'СОА22-КЦ51-3310',
  'annotation': 'Във връзка с Ваш сигнал относно лошото състояние на пътната настилка по ул. Филип Кутев Ви уведомявам, че за участъка от ул. Атанас Дуков до ул. Сребърна предстои основен ремонт и разширение. Има изготвен работен проект, който към днешна дата се съгласува с експлоатационните дружества и необходимите инстанции. В инвестиционната  програма на Столична община за 2022 г. горецитирания участък е предложен за включване за финансиране. Изпълнението на строително-монтажните работи ще започне след влизане в сила на разрешението за строеж. До настъпване на етапа на строителство район Лозенец извършва текущо поддържане на участъка.'},
 {'documents': 'Няма',
  'registration_date': '14.01.2022 08:38',
  'registration_number': 'СОА22-КЦ51-3310',
  'annotation': 'Във връзка с Ваш сигнал относно лошото състояние на пътната настилка по ул. Филип Кутев Ви уведомявам, че за участъка от ул. Атанас Дуков до ул. Сребърна предстои основен ремонт и разширение. Има изготвен работен проект, който към днешна дата се съгласува с експлоатационните дружества и необходимите инстанции. В инвестиционната  програма на Столична община за 2022 г. горецитирания участък е предложен за включване за финансиране. Изпълнението на строително-монтажните работи ще започне след влизане в сила на разрешението за строеж. До настъпване на етапа на строителство район Лозенец извършва текущо поддържане на участъка.'}]

C:\Users\ebasii\AppData\Local\Temp\ipykernel_29812\3485497848.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.answers[3] = [{'documents': 'Няма',

In [52]:
df.answers[3] = []

C:\Users\ebasii\AppData\Local\Temp\ipykernel_29812\3666478672.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.answers[3] = []

In [56]:
pd.json_normalize(df.answers[3])

Empty DataFrame
Columns: []
Index: []

In [54]:
def json_to_series(text):
    keys, values = zip(*[(dct['label'], dct['value']) for dct in json.loads(text)])
    return pd.Series(values, index=keys)

In [55]:
pd.concat([df, df['answers'].apply(json_to_series)], axis=1)

TypeError: the JSON object must be str, bytes or bytearray, not list

In [66]:
data = []

with open('../available_data/manipulated_files/2023-06-22_05-38-12/answers.json', encoding='utf-8') as file:
    for line in file:
        obj = json.loads(line)
        data.append(obj)

In [69]:
json_string = json.dumps(data)  # Convert data list to JSON string
json_dict = json.loads(json_string)  # Load JSON string as a Python object

In [68]:
json_dict = json.load(io.StringIO(data))

TypeError: initial_value must be str or None, not list

In [71]:
pd.concat([pd.DataFrame(json_dict), pd.DataFrame(list(json_dict['answers']))], axis=1).drop('answers', 1)

TypeError: list indices must be integers or slices, not str

In [72]:
combined_dict = {
    'number': [obj['number'] for obj in json_dict],
    'answers': [obj['answers'] for obj in json_dict]
}

df = pd.concat([pd.DataFrame(combined_dict), pd.DataFrame(list(combined_dict['answers']))], axis=1).drop('answers', 1)

C:\Users\ebasii\AppData\Local\Temp\ipykernel_29812\480349115.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = pd.concat([pd.DataFrame(combined_dict), pd.DataFrame(list(combined_dict['answers']))], axis=1).drop('answers', 1)

In [93]:
df[df[2].notnull()]

,number,0,1,2
334,300334,"{'documents': 'Няма', 'registration_date': '10...","{'documents': 'Няма', 'registration_date': '14...","{'documents': 'Няма', 'registration_date': '26..."
930,300930,"{'documents': 'Няма', 'registration_date': '11...","{'documents': 'Няма', 'registration_date': '03...","{'documents': 'Няма', 'registration_date': '19..."
1484,301484,"{'documents': 'Няма', 'registration_date': '11...","{'documents': 'Няма', 'registration_date': '03...","{'documents': 'Няма', 'registration_date': '19..."
1808,301808,"{'documents': 'Няма', 'registration_date': '10...","{'documents': 'Няма', 'registration_date': '16...","{'documents': 'Няма', 'registration_date': '04..."
1974,301974,"{'documents': 'Няма', 'registration_date': '07...","{'documents': 'Няма', 'registration_date': '07...","{'documents': 'Няма', 'registration_date': '26..."
2213,302213,"{'documents': 'Няма', 'registration_date': '02...","{'documents': 'Няма', 'registration_date': '18...","{'documents': 'Няма', 'registration_date': '28..."

In [100]:
df_expanded = df['number'].to_frame()  # Create a dataframe with the 'number' column

for col_name in [0, 1, 2]:
    expanded_df = pd.json_normalize(df[col_name]).add_suffix(f"_expanded_{col_name}")
    df_expanded = pd.concat([df_expanded, expanded_df], axis=1)

In [98]:
df_expanded

,number,documents,registration_date,registration_number,annotation,documents,registration_date,registration_number,annotation,documents,registration_date,registration_number,annotation
0,300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,300001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,300002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,300003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,300004,Няма,14.01.2022 08:38,СОА22-КЦ51-3310,Във връзка с Ваш сигнал относно лошото състоян...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2420,302420,Няма,03.02.2022 09:14,СОА22-КЦ51-8561,"Сигналът Ви е изпратен за проверка до фирмата,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2421,302421,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2422,302422,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2423,302423,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2424,302424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [104]:
expanded_columns = []  # Store the expanded columns

for col_name in [0, 1, 2]:
    expanded_df = pd.json_normalize(df[col_name]).add_suffix(f"_{col_name}")
    expanded_columns.append(expanded_df)

df_expanded = pd.concat([df['number']] + expanded_columns, axis=1)

In [105]:
df_expanded

,number,documents_0,registration_date_0,registration_number_0,annotation_0,documents_1,registration_date_1,registration_number_1,annotation_1,documents_2,registration_date_2,registration_number_2,annotation_2
0,300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,300001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,300002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,300003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,300004,Няма,14.01.2022 08:38,СОА22-КЦ51-3310,Във връзка с Ваш сигнал относно лошото състоян...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2420,302420,Няма,03.02.2022 09:14,СОА22-КЦ51-8561,"Сигналът Ви е изпратен за проверка до фирмата,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2421,302421,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2422,302422,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2423,302423,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2424,302424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN